@model NguyenQuangNamK22CNTT2.Models.theloai

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>theloai</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.theloai_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.theloai_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mota)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mota)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.theloai_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
