@model IEnumerable<NguyenQuangNamK22CNTT2.Models.theloai>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.theloai_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mota)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.theloai_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mota)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.theloai_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.theloai_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.theloai_id })
        </td>
    </tr>
}

</table>
