@model NguyenQuangNamK22CNTT2.Models.ctdonhang

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ctdonhang</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.soluong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.soluong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.donhang.trangthai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.donhang.trangthai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sanpham.tieude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sanpham.tieude)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.orderdetails_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
